<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Town</title>
    <link rel="stylesheet" href="/static/css/front-board.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <%- include('./favicon.ejs') %>

        <!-- axios cdn -->
        <script src=“https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js”></script>
        <script src=“https://unpkg.com/axios/dist/axios.min.js”></script>

        <!-- jquery cdn -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./nav.ejs') %>


        <form class="write-info" action="/study/post" method="post" name="article-form">
            <div class="write-first-line">
                <div>글 수정하기</div>
                <button class="write-cancel" type="button" onclick="editCancel();" id="btn">취소</button>
                <button class="write-submit" type="button" onclick="editDo();" id="btn">변경</button>
            </div>
            <form action="/study/write/post" method="post" name="article-form">
                <div class="write-title">
                    <input name="title" class="title" type="text" placeholder="제목 입력" value="<%= article.title %>" />
                </div>
                <div class="write-title">
                    <input type="text" name="member_num" placeholder="모집인원" value="<%= article.member_num %>" />
                </div>
                <div class="study-how">
                    <div class="study-how-box">
                        <input type="radio" name="category_id" id="school" value="1">
                        <label for="school">학교공부</label>
                        <input type="radio" name="category_id" id="lang" value="2">
                        <label for="lang">어학</label>
                        <input type="radio" name="category_id" id="job" value="3">
                        <label for="job">취업</label>
                        <input type="radio" name="category_id" id="cert" value="4">
                        <label for="cert">자격증</label>
                        <input type="radio" name="category_id" id="civil" value="5">
                        <label for="civil">공무원/임용</label>
                    </div>
                </div>
                <div class="study-how">
                    <div>
                        <span>스터디 형태</span>
                    </div>
                    <div>
                        <input type="radio" name="parity" id="on" value="ONLINE" onclick="showAppo(event);" />
                        <label for="on">온라인</label>
                        <input type="radio" name="parity" id="off" value="OFFLINE" onclick="showAppo(event);" />
                        <label for="off">오프라인</label>
                    </div>
                </div>
                <!-- parity의 value가 OFFLINE이면 appo_area를 받는 input이 등장 -->
                <div class="write-title" id="appo-area">
                    <input type="text" name="appo_area" placeholder="약속 장소" value="<%= article.appo_area %>" />
                </div>

                <div class="board-date">
                    <label for="expr_dt">모집마감일</label>
                    <input type="date" name="expr_dt" id="expr_dt" value="<%= article.expr_dt %>" />
                </div>
                <div class="board-date">
                    <label for="start_dt">스터디 시작일</label>
                    <input type="date" name="start_dt" id="start_dt" value="<%= article.start_dt %>" />
                </div>
                <div class="board-date">
                    <label for="end_dt">스터디 종료일</label>
                    <input type="date" name="end_dt" id="end_dt" value="<%= article.end_dt %>" />
                </div>

                <textarea name="description" id="description" class="write-content" type="text" placeholder="본인이 원하는 스터디에 대한 설명을 쓰고 원하는 팀원의 조건 등 스터디에 관한 정보를 적어주세요."><%= article.description %></textarea>
            </form>

        </form>

        <script src=/static/js/edit.js "></script>
        <script src="/static/js/post.js "></script>

        <script>
            // 선택된 스터디 카테고리값을 가져와서 해당하는 라디오버튼을 체크해준다.
            const category_id = <%= article.Category.category_id %>;
            const radio1 = document.getElementsByName("category_id ");
            for (let i = 0; i < radio1.length; i++) {
                if (radio1[i].value == category_id) {
                    radio1[i].checked = true;
                }
            };
            // 선택된 온라인/오프라인값을 가져와서 해당하는 라디오버튼을 체크해준다.
            const parity = "<%=article.parity %>
            ";
            const radio2 = document.getElementsByName("parity ");
            if (parity == "ONLINE") {
                radio2[0].checked = true;
            } else {
                radio2[1].checked = true;
            };
        </script>
</body>

</html>