<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Town</title>
    <%- include('./favicon.ejs') %>

        <link rel="stylesheet" href="/static/css/nav.css" />
        <link rel="stylesheet" href="/static/css/study.css" />

        <!-- axios cdn -->
        <!-- <script src=“https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js”></script>
    <script src=“https://unpkg.com/axios/dist/axios.min.js”></script> -->
</head>

<body style="overflow-x: hidden">
    <%- include('./nav.ejs') %>

        <div class="example">
            <div class="searchDiv">
                <div class="searchDiv-first">
                    <input class="search" id="search" name="search" />
                    <% if (category_id == null) { %>
                        <button onclick="searchArticle()" id="searchBtn">
                      <% } else { %>
                        <button onclick="searchArticleByCategory(<%= category_id %>)" id="searchBtn">
                        <% } %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </button>
                </div>
            </div>
            <a href="/study/write" class="remove-line">
                <div class="study-mystudy">내 스터디 만들기</div>
            </a>
        </div>

        <div class="category-select">
            <a href="/study/category/1" class= "decoration-none"><div class="category-select-item">React</div></a>
            <a href="/study/category/2" class= "decoration-none"><div class="category-select-item">Java</div></a>
            <a href="/study/category/3" class= "decoration-none"><div class="category-select-item">Node.js</div></a>
            <a href="/study/category/4" class= "decoration-none"><div class="category-select-item">Typescript</div></a>
            <a href="/study/category/5" class= "decoration-none"><div class="category-select-item">Spring</div></a>
        </div>

        <div class="article-board" id="article-board">
            <% let lineCount = 0; %>
                <% let lineNumber = 0; %>
                    <% if (data.length ==
      0) { %>
                        <h2 class="no-result">검색결과가 없습니다.</h2>
                        <% } %>
                            <% data.forEach((board)=> { %>
                                <% if (lineCount % 3 == 0) { %>
                                    <%
      lineNumber += 1; %>
                                        <div class="line line-<%= lineNumber %>">
                                            <% if (lineNumber > 3 ) {
        document.querySelector(`.line-${lineNumber}`).classList.add("line-hidden")
        } %>
                                                <% lineCount = 0; %>
                                                    <% }; %>
                                                        <div class="card" id="card<%= board.article_id %> " onclick="getArticle(<%= board.article_id %>); ">
                                                            <div class="card-deadline">
                                                                <span class="article__info__item__title">모집기간:</span>
                                                                <span class="article__info__item__content">
              ~ <%= board.expr_dt %></span
            >
          </div>
          <div class="card-title"><%= board.title %></div>
          <div class="card-badge">
            <img
              class="card-badge-img"
              src="<%=board.Category.category_img%>"
              alt="<%=board.Category.category_name%>"
            />
          </div>
          <div class="card-id"><%= board.user.user_id %></div>
        </div>
        <% lineCount++;%> <% if (lineCount % 3 == 0) { %>
      </div>
      <% }; %> <% }) %>
    </div>

    <script src="/static/js/study.js"></script>
    <script src="/static/js/board.js"></script>
    <script>
      // enter key 누르면 검색
      document
        .getElementById("search")
        .addEventListener("keyup", function (event) {
          if (event.keyCode === 13) {
            if (document.getElementById("search").value == "") {
              alert("검색어를 입력해주세요.");
            } else {
              event.preventDefault();
              document.getElementById("searchBtn").click();
            }
          }
        });
    </script>
  </body>
</html>