<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/study.css" />

    <!-- axios cdn -->
    <!-- <script src=“https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js”></script>
    <script src=“https://unpkg.com/axios/dist/axios.min.js”></script> -->
</head>

<body style="overflow-x: hidden">
    <%- include('./nav.ejs') %>

        <div class="searchDiv">
            <input class="search" id="search" name="search" />
            <button onclick="searchArticle()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </button>
        </div>

        <div class="category">
            <div class="category-title">
                <div class="title">
                    title1
                    <div class="title-underbox"></div>
                </div>
                <div class="title">
                    title2
                    <div class="title-underbox"></div>
                </div>
                <div class="title">
                    title3
                    <div class="title-underbox"></div>
                </div>
                <div class="title">
                    title4
                    <div class="title-underbox"></div>
                </div>
                <div class="title">
                    title5
                    <div class="title-underbox"></div>
                </div>
            </div>
            <a href="/write" class="remove-line">
                <div class="study-mystudy">내 스터디 만들기</div>
            </a>
        </div>

        <div class="article-board" id="article-board">
            <% let lineCount = 0; %>
                <% data.forEach((board) => { %>
                    <% if (lineCount % 2 == 0) { %>
                        <div class="line">
                            <% lineCount = 0; %>
                                <% }; %>
                                    <div class="card" id="card<%= board.article_id %> " onclick="getArticle(<%= board.article_id %>); ">
                                        <div class="card-deadline">
                                            <span class="article__info__item__title">모집기간</span>
                                            <span class="article__info__item__content"> <%= board.expr_dt %> </span>
                                        </div>
                                        <div class="card-title">
                                            <%= board.title %>
                                        </div>
                                        <div class="card-badge">배지</div>
                                        <div class="card-id">
                                            <%= board.user_id %>
                                        </div>
                                    </div>
                                    <% lineCount++;%>
                                        <% if (lineCount % 3 == 2) { %>
                        </div>
                        <% }; %>
                            <% }) %>
        </div>

        <!-- <div class="window-modal">
            <div class="card-modal">1</div>
        </div>
        </div>
        <div class="window-modal">
            <div class="card-modal">
                <a href="/chatlink"> 해당 스터디 그룹장과 채팅하기 </a>
            </div>
        </div> -->
        <script src="/static/js/study.js"></script>
        <script src="/static/js/board.js"></script>
</body>

</html>